*{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

button{
    border: none;
    outline: none;
    box-shadow: none;
}

body{
    background-color: gray;
}

header{
    color: #f2f2f2;
    background-color: black;
    display: flex;
    align-items: center;
}

#imgLogo{
    width: 15%;
    margin: 15px;
}

#btn-jogar{
    color: #f2f2f2;
    background-color: darkred;
    align-self: stretch;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease;
}

#btn-jogar:hover{
    font-size: 1.5em;
}

.btn-header{
    color: #f2f2f2;
    background-color: black;
    transition: all 0.8s ease;
    align-self: stretch;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;

}

.btn-header:hover{
    color: darkred;
    background-color: #f2f2f2;
    font-size: 1.5em;
}

.btn-header:first-of-type{
    margin-left: auto;
}